In [4]:
import pandas as pd
data = pd.read_csv('vehicles_us.csv')
#from ydata_profiling import ProfileReport

In [5]:
# Check characteristics of the table: name and amount of columns and type of values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

The names of the columns are written in the snake lowercase. No need in renaming.

In [ ]:
# Check the quality of data in the columns
data.head(10)

## DUPLICATES

In [ ]:
# Check apparent duplicates in the table

print(data.duplicated().sum())
duplicates=data[data.duplicated()]
print(duplicates)

In [ ]:
# No apparent duplicates found.

In [ ]:
# Check implicit duplicates in the table - column "model"

print(data['model'].sort_values().unique())

In [ ]:
# Loop through unique models to find those containing "ford f"

for model in data['model'].unique():
    if "ford f" in model.lower():
        print(model)

In [ ]:
# Loop through unique models to find those containing "ford" and "150"

for model in data['model'].unique():
    if "ford" in model.lower() and "150" in model.lower():
        print(model)

In [ ]:
# function for replacing implicit duplicates
wrong_ford_150 = ['ford f150','ford f150 supercrew cab xlt'] #list of duplicates
correct_ford_150 = 'ford f-150' #string - correct value

# Define the function with a condition for replacement
def replace_wrong_ford_150(wrong_ford_150, correct_ford_150):
    for pattern in wrong_ford_150:
        # Use regex replacement to target specific parts of the model names
        data['model'] = data['model'].str.replace(rf'\b{pattern}\b', correct_ford_150, regex=True)
        
replace_wrong_ford_150(wrong_ford_150, correct_ford_150)

In [ ]:
# Check unique models, containing "ford" and "150"

for model in data['model'].unique():
    if "ford" in model.lower() and "150" in model.lower():
        print(model)

In [ ]:
# Loop through unique models to find those containing "ford" and "250"

for model in data['model'].unique():
    if "ford" in model.lower() and "250" in model.lower():
        print(model)

In [ ]:
# function for replacing implicit duplicates
wrong_ford_250 = ['ford f250 super duty','ford f250'] 
correct_ford_250 = 'ford f-250' 

# Define the function with a condition for replacement
def replace_wrong_ford_250(wrong_ford_250, correct_ford_250):
    for pattern in wrong_ford_250:
        # Use regex replacement to target specific parts of the model names
        data['model'] = data['model'].str.replace(rf'\b{pattern}\b', correct_ford_250, regex=True)
    # Replace 'super duty' with 'sd' (case-insensitive)
    data['model'] = data['model'].str.replace(r'(?i)super duty', 'sd', regex=True)

replace_wrong_ford_250(wrong_ford_250, correct_ford_250)

In [ ]:
# Check unique models, containing "ford" and "250"

for model in data['model'].unique():
    if "ford" in model.lower() and "250" in model.lower():
        print(model)

In [ ]:
# Loop through unique models to find those containing "ford" and "350"

for model in data['model'].unique():
    if "ford" in model.lower() and "350" in model.lower():
        print(model)

In [ ]:
# function for replacing implicit duplicates
wrong_ford_350 = ['ford f350 sd','ford f350'] 
correct_ford_350 = 'ford f-350' 

# Define the function with a condition for replacement
def replace_wrong_ford_350(wrong_ford_350, correct_ford_350):
    for pattern in wrong_ford_350:
        # Use regex replacement to target specific parts of the model names
        data['model'] = data['model'].str.replace(rf'\b{pattern}\b', correct_ford_350, regex=True)

replace_wrong_ford_350(wrong_ford_350, correct_ford_350)

In [ ]:
# Check unique models, containing "ford" and "350"

for model in data['model'].unique():
    if "ford" in model.lower() and "350" in model.lower():
        print(model)

In [ ]:
print(data['model'].sort_values().unique())

## YDATA REPORT

In [ ]:
#Auxiliary Data Analysis
#data.profile_report()

## MISSING VALUES

In [ ]:
# Check missing values

data.isna().sum()

### Columns that contain missing values:
- model_year
- cylinders
- odometer
- paint_color
- is_4wd

We state high correllation between:
- model year to odometer (distance the car has driven) and price
- odometer to model year
- price to model year

### Column 'paint_color'

In [ ]:
# Number of missing valaues in column 'paint_color'

print(data['paint_color'].isna().sum())

In [ ]:
# Replace missing values in column 'paint_color' by 'unknown'

data['paint_color']=data['paint_color'].fillna('unknown')
print(data['paint_color'].unique())

### Column 'model_year'

In [ ]:
# Check number of missing values in the column 'model_year'

print(data['model_year'].isna().sum())

In [ ]:
# Calculate mean 'model_year' for each 'model'

mean_model_year = data.groupby('model')['model_year'].mean().round(1)
print(mean_model_year)

In [ ]:
# Create custom function to replace missing 'model_year' by the mean value of the corresponding 'model'

def fill_missing_model_year(row):
    if pd.isna(row['model_year']):
        return mean_model_year.get(row['model'],row['model_year'])
    else:
        return row['model_year']

data['model_year']=data.apply(fill_missing_model_year, axis=1)
print(data['model_year'].isna().sum())

### Column 'cylinders'

In [ ]:
print(data['cylinders'].isna().sum())
print(data['cylinders'].unique())

In [ ]:
# Replace missing values in column 'cylinders' by '0.0'

data['cylinders']=data['cylinders'].fillna(0.0)
print(data['cylinders'].isna().sum())
print(data['cylinders'].unique())

### Column 'odometer'

In [ ]:
# Calculate number of missing values in 'odometer' column

print(data['odometer'].isna().sum())

In [ ]:
# Calculate mean distance driven by car by 'model'

mean_model_distance = data.groupby('model')['odometer'].mean().round(1)
print(mean_model_distance)

In [ ]:
# Create custom function to replace missing 'odometer' by the mean value of the corresponding 'model'

def fill_missing_odometer(row):
    if pd.isna(row['odometer']):
        return mean_model_distance.get(row['model'],row['odometer'])
    else:
        return row['odometer']

data['odometer']=data.apply(fill_missing_odometer, axis=1)
still_missing_odometer=data['odometer'].isna()
print(still_missing_odometer)

In [ ]:
odometer_mean=data['odometer'].mean().round(1)
print(odometer_mean)

In [ ]:
data.loc[still_missing_odometer, 'odometer'] = odometer_mean
print(data['odometer'].isna().sum())

### Column 'is_4wd'

In [ ]:
print(data['is_4wd'].isna().sum())
print(data['is_4wd'].isnull().sum())
print(data['is_4wd'].unique())

In [ ]:
print(data.groupby('type')['is_4wd'].sum())

In [ ]:
# Create a variable for the rest of missing values in column 'is_4wd'

missing_4wd = data['is_4wd'].isna()
print(missing_4wd)

In [ ]:
# List all unique 'model' types

print(data['model'].sort_values().unique())

In [ ]:
# Create a list of models that have 4x4 version (i.e. 'is_4wd)

model_4x4=['bmw x5', 'buick enclave', 'cadillac escalade', 'chevrolet colorado', 'chevrolet equinox', 'chevrolet silverado', 
           'chevrolet silverado 1500', 'chevrolet silverado 2500hd', 'chevrolet silverado 3500hd', 'chevrolet suburban', 
           'chevrolet tahoe', 'chevrolet trailblazer', 'chevrolet traverse', 'dodge dakota', 'ford expedition', 'ford explorer', 
           'ford f-150', 'ford f-250', 'ford f-250 sd', 'ford f-350', 'ford f-350 sd', 'gmc acadia', 'gmc sierra', 'gmc sierra 1500', 
           'gmc sierra 2500hd', 'gmc yukon', 'honda cr-v', 'honda pilot', 'hyundai santa fe', 'jeep cherokee', 'jeep grand cherokee', 
           'jeep grand cherokee laredo', 'jeep liberty', 'jeep wrangler', 'jeep wrangler unlimited', 'kia sorento', 'nissan frontier', 
           'nissan frontier crew cab sv', 'nissan murano', 'nissan rogue', 'ram 1500', 'ram 2500', 'ram 3500', 'subaru forester', 
           'subaru impreza', 'subaru outback', 'toyota 4runner', 'toyota highlander', 'toyota rav4', 'toyota tacoma', 'toyota tundra']

In [ ]:
# Create a loop through the object with the missing values of 'is_4wd' column to check, if the model is in the list of 'model_4x4'.
# If yes, then replace the missing value by 1, else 0

for index, row in data[missing_4wd].iterrows():
    if row['model'] in model_4x4:
        data.at[index, 'is_4wd'] = 1 
    else:
        data.at[index, 'is_4wd'] = 0

print(data[['model', 'is_4wd']].head())

In [ ]:
# Check number of missing values in column 'is_4wd'

print(data['is_4wd'].isna().sum())

In [ ]:
data.isna().sum()

## Removing Outliers

### Outliers in 'price'

In [ ]:
# Find price borders for the outliers

q1 = data['price'].quantile(0.01)
q99 = data['price'].quantile(0.99)
print(q1)
print(q99)

In [ ]:
# Check the amount of rows with extremely high price (>= 100000)

outliers_max=data[(data['price'] >= 100000)] 
outliers_max.shape

In [ ]:
# Check the amount of rows with extremely low price (<= 1)

outliers_min=data[(data['price'] <= 1)] 
outliers_min.shape

In [ ]:
print(data['price'].isna().sum())

In [ ]:
# Remove outliers in price = keep the rows that stay between the price borders

data_filtered = data[(data['price'] >= 1) & (data['price'] <= 100000)]
print(data_filtered)

In [ ]:
# Check if the outliers are removed

outliers_1=data_filtered['price'] < 1
outliers_100000=data_filtered['price'] > 100000

print(outliers_1.sum())
print(outliers_100000.sum())

### Outliers in 'model_year'

In [ ]:
# Find model_year borders for the outliers

q1 = data['model_year'].quantile(0.01)
q99 = data['model_year'].quantile(0.99)
print(q1)
print(q99)

In [ ]:
# Check the amount of rows with extremely old cars (<= 1970)

outliers_old_cars=data[(data['model_year'] <= 1970)] 
outliers_old_cars.shape

In [ ]:
# Remove outliers in model_year = keep the rows with the year, greater than 1970

data_filtered_year = data[(data['model_year'] >= 1970)] 
print(data_filtered_year)

In [ ]:
# Check the amount of rows with extremely old cars (< 1970)

outliers_1970=data_filtered_year['model_year'] < 1970
print(outliers_1970.sum())

In [6]:
print(data['condition'].sort_values().unique())

['excellent' 'fair' 'good' 'like new' 'new' 'salvage']